<a href="https://colab.research.google.com/github/instone1031/114514/blob/main/chapter2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 연습문제

# 1번

In [ ]:
name = input("이름을 입력하시오: ")
age = int(input("나이를 입력하시오: "))
year = 2021 - age + 100

print(name + "씨는" + str(year) + "년에 100살이시네요!")


# 2번

In [ ]:
n1 = int(input("첫 번째 숫자를 입력하시오:"))
n2 = int(input("두 번째 숫자를 입력하시오:"))
n3 = int(input("세 번째 숫자를 입력하시오:"))

average = (n1 + n2 + n3) / 3

print(n1, n2, n3, "의 평균은", average, "입니다.")

# 3번

In [ ]:
radius = int(input("반지름을 입력하시오: "))
area = 3.141592 * radius**2

print("반지름이", radius, "인 원의 넓이 =", area"입니다.")

# 4번

In [ ]:
import turtle
t = turtle.Turtle()
t.shape("turtle")

radius = 50
t.up()
t.goto(0, 0)
t.down()
t.circle(radius)

radius = radius + 20
t.up()
t.goto(100, 0)
t.down()
t.circle(radius)

radius = radius + 20
t.up()
t.goto(200, 0)
t.down()
t.circle(radius)
t._screen.exitonclick()

# 5번

In [ ]:
import turtle
t = turtle.Turtle()
t.shape("turtle")

side = 100
t.forward(side)
t.left(120)
t.forward(side)
t.left(120)
t.forward(side)
t.left(120)
t._screen.exitonclick()

# 6번

In [ ]:
import turtle
t = turtle.Turtle()
t.shape("turtle")

side = 200
t.forward(side)
t.left(120)
t.forward(side)
t.left(120)
t.forward(side)
t.left(120)
t._screen.exitonclick()

# 7번

In [ ]:
import turtle
t = turtle.Turtle()
t.shape("turtle")
side = 50
angle = 90

t.forward(side)
t.right(angle)
t.forward(side)
t.right(angle)
t.forward(side)
t.right(angle)
t.forward(side)

t.forward(side)
t.right(angle)
t.forward(side)
t.right(angle)
t.forward(side)
t.right(angle)
t.forward(100)
t.right(180)

t.forward(side)
t.right(angle)
t.forward(side)
t.right(angle)
t.forward(side)
t.right(angle)
t.forward(side)

t.forward(side)
t.right(angle)
t.forward(side)
t.right(angle)
t.forward(side)
t.write("닫으려면 화면 클릭")
t._screen.exitonclick()

# 도전문제

# 1-1번

In [ ]:
x = 7
y = 6
print(x + y)

13

# 1-2번

In [ ]:
x = '7'
y = '6'
print(x + y)

76

# 2번

In [ ]:
import turtle
t = turtle.Turtle()
t.shape("turtle")
radius = 50
x = 30
t.circle(radius)
t.fd(x)
t.circle(radius)
x = 50
t.fd(x)
t.circle(radius)

# 3번

In [ ]:
x = int(input("첫 번째 정수를 입력하시오: "))
y = int(input("두 번째 정수를 입력하시오: "))

print(x, " + ", y, " = ", x + y)
print(x, " - ", y, " = ", x + y)
print(x, " * ", y, " = ", x + y)
print(x, " / ", y, " = ", x + y)

첫 번째 정수를 입력하시오: 3
두 번째 정수를 입력하시오: 4
3  +  4  =  7
3  -  4  =  7
3  *  4  =  7
3  /  4  =  7